<div class="signin">
    <div class="container">
        <div class="signin-row">
            <div class="col2">
                <form class="signin-block" [formGroup]="signInForm" (ngSubmit)="signIn()">
                    <span class="sign-key">&nbsp;</span>
                    <div class="signin-table">
                        <div class="signin-table-cell">
                            <div class="welcome-block">
                                <h4>Welcome back!</h4>
                                <mat-form-field class="form-group">
                                    <mat-label>Email ID</mat-label>
                                    <input matInput type="email" formControlName="email" required>
                                    <mat-error *ngIf="f.email.hasError('required')">Please enter your "Email Address".
                                        Password*
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="form-group password">
                                    <mat-label>Password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                                    <mat-icon matSuffix (click)="hide = !hide">
                                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngIf="f.password.hasError('required')">
                                        Please enter your "Password".
                                    </mat-error>
                                </mat-form-field>

                                <div class="form-link">
                                    <button class="submitBtn" type="submit" [disabled]="signInForm.invalid">Sign In</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col1">
                <figure>
                    <img src="../../../assets/images/account/signin-banner.png">
                </figure>
            </div>
        </div>
    </div>
</div>