.movies {
    padding-top: 106px;
    .movieDetail {
        .movieDetail-banner {
            position: relative;
            > figure {
                position: relative;
                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 40%;
                    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 1));
                    background-size: 50%,50%;
                }
            }
            .movie-detail {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: 0 auto;
                background: rgba(0, 0, 0, 0.6);
                .container {
                    height: 100%;
                    .content {
                        bottom: 115px;
                        padding: 0;
                        transition: all 0.5s;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        .trailer-block {
                            padding-bottom: 9px;
                            .play-icon {
                                width: 79px;
                                height: 79px;
                                margin-left: -8px;
                                display: inline-block;
                                position: relative;
                                &:hover {
                                    &::after {
                                        background-position: bottom left;
                                    }
                                }
                                &::after {
                                    position: absolute;
                                    content: '';
                                    width: 79px;
                                    height: 79px;
                                    left: 0;
                                    background: url('../../assets/images/play-icon.png') no-repeat;
                                    background-position: top left;
                                    transition: all 0.5s;
                                }
                            }
                            
                        }
                        h1 {
                            font-size: 85px;
                            line-height: 85px;
                            padding-bottom: 3px;
                            transition: all 0.5s;
                            font-weight: bold;
                            text-transform: capitalize;
                            color: #fff;
                        }
                        .movie_info {
                            padding: 6px 0 27px;
                            &::after {
                                display: block;
                                clear: both;
                                content: '';
                            }
                            li {
                                padding: 0 14px;
                                font-size: 16px;
                                line-height: 45px;
                                float: left;
                                color: #fff;
                                position: relative;
                                &::before {
                                    position: absolute;
                                    content: '';
                                    width: 5px;
                                    height: 1px;
                                    top: 50%;
                                    left: 0;
                                    background: #fff;
                                    transform: translateY(-50%);
                                }
                                &:first-child {
                                    padding: 0 0 0 13px;
                                    &::before {
                                        content: none;
                                    }
                                }
                                &:nth-child(2) {
                                    padding-left: 14px;
                                    &::before {
                                        content: none;
                                    }
                                }
                            }
                        }
                    }
                    .movie-show-details {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        padding-left: 12px;
                        padding-right: 15px;
                        padding-bottom: 35px;
                        transition: all 0.5s;
                        .butn-more-info {
                            a {
                                font-size: 20px;
                                color: $color-major;
                                line-height: 20px;
                                font-weight: bold;
                                overflow: hidden;
                                white-space: nowrap;
                                display: inline-block;
                                text-transform: capitalize;
                                transition: all 0.5s;
                                position: relative;
                                span.butn-more-info {
                                    display: inline-block;
                                    padding-right: 22px;
                                    position: relative;
                                    top: 0;
                                    &::after {
                                        position: absolute;
                                        content: '';
                                        right: 0;
                                        top: 50%;
                                        width: 16px;
                                        height: 16px;
                                        background: url('../../assets/images/icon-more.png') no-repeat;
                                        transform: translateY(-50%);
                                    }
                                }
                                span.butn-less-info {
                                    position: absolute;
                                    padding-right: 24px;
                                    left: 0;
                                    top: 25px;
                                    &::after {
                                        position: absolute;
                                        content: '';
                                        right: 0;
                                        top: 50%;
                                        width: 16px;
                                        height: 16px;
                                        background: url('../../assets/images/icon-less.png') no-repeat;
                                        transform: translateY(-50%);
                                    }
                                }
                            }
                            
                        }
                        .movie-show-content {
                            padding-bottom: 26px;
                            transform-origin: bottom;
                            transition: all 0.5s;
                            transform: scaleY(0);
                            .more-info {
                                width: 100%;
                                height: 170px;
                                padding-right: 15px;
                                position: relative;
                                overflow: hidden;
                                overflow-y: scroll;
                                ul {
                                    margin: 0 -27px;
                                    li {
                                        display: inline-block;
                                        padding: 19px 27px 10px;
                                        h2 {
                                            font-size: 18px;
                                            line-height: 20px;
                                            font-weight: bold;
                                            color: #fff;
                                            text-transform: capitalize;
                                            padding-bottom: 3px;
                                        }
                                        p {
                                            font-size: 14px;
                                            line-height: 20px;
                                            color: rgba(255, 255, 255, 0.6);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .movie-detail.open {
                .container {
                    .content {
                        bottom: 239px;
                        h1 {
                            font-size: 51px;
                            line-height: 51px;
                        }
                    }
                    .movie-show-details {
                        .movie-show-content {
                            padding-bottom: 26px;
                            transform-origin: bottom;
                            transition: all 0.5s;
                            transform: scaleY(1);
                        }
                        .butn-more-info {
                            a {
                                span.butn-less-info {
                                    top: 0;
                                }
                                span.butn-more-info {
                                    top: -25px;
                                    opacity: 0;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
        .cinema-location-block {
            width: 100%;
            margin-bottom: 20px;
            margin-top: 30px;
            .panel {
                background: #000;
                margin-bottom: 10px;
                 .mat-expansion-indicator::after {
                    color: #fff;
                }
                .panel-heading {
                    .panel-title {
                        font-size: 18px;
                        line-height: 20px;
                        color: $color-major;
                        padding: 32px 30px 32px 0;
                        font-weight: 600;
                    }
                    
                }
                .panel-body {
                    padding: 0 85px 0 65px;
                }
            }
        }
    }    
}
::ng-deep .panel {
    .mat-expansion-panel-header {
        padding: 0 47px 0 80px;
        // height: 84px!important;
    }
    .mat-expansion-indicator::after {
        color: #fff;
    }
}

::ng-deep .slick-track {
    margin: 0;
}