#letGetHigh {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $color-black-0;
    color: $color-white-0;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    &:hover {
        background-color: #555;
    }
}

